<div class="main_view">
  <div class="main_top">
    <div class="order_title">新着順</div>
  </div>
  <div class="main_contents">
  <% @proposals.each do |proposal|%>
    <div class="proposal">
    <div class="title_btn" >
      <div class="title" >
        <%= proposal.title %>
      </div>
      <div class="proposal_user_name">
        <%= proposal.user.name%>
      </div>
    </div>

      <div class="detail">
        <div class="image">
          <%= image_tag proposal.image, class: :image_tag %>
        </div>
        <div class="text_all">
          <div class="text">
          Where<br>
          <%= proposal.where %>
          </div>
          <div class="text">
          What<br>
          <%= proposal.what %>
          </div>
          <div class="text">
          Why<br>
          <%= proposal.why %>
          </div>
          <div class="text">
          How<br>
          <%= proposal.how %>
          </div>
        </div>
        <div class ="comments">
        Comments
        </div>
      </div>
      <div class="current">
        <span>before</span>
        <div class="numeric">作業時間<%= proposal.before_seconds %>s</div>
        <span>x</span>
        <div class="numeric">作業人数<%= proposal.before_workers %>人</div>
        <span>x</span>
        <div class="numeric">年間作業日数<%= proposal.before_days %>日</div>
        <span>=</span>
        <div class="numeric">年間工数<%= proposal.before_man_hours %>h</div>
        <span>x</span>
        <div class="numeric">時給<%= proposal.hourly_wage %>円</div>
        <span>=</span>
        <div class="numeric">年間コスト<%= proposal.before_costs %>円</div>
      </div>
      <div class="arrow">⬇</div>
      <div class="estimation">
        <span>estimation</span>
        <div class="numeric">作業時間<%= proposal.estimation.after_seconds %>s</div>
        <span>x</span>
        <div class="numeric">作業人数<%= proposal.estimation.after_workers %>人</div>
        <span>x</span>
        <div class="numeric">年間作業日数<%= proposal.estimation.after_days %>日</div>
        <span>=</span>
        <div class="numeric">年間工数<%= proposal.estimation.after_man_hours %>h</div>
        <span>x</span>
        <div class="numeric">時給<%= proposal.estimation.hourly_wage %>円</div>
        <span>=</span>
        <div class="numeric">年間コスト<%= proposal.estimation.after_costs %>円</div>
      </div>
      <div class="arrow">⬇</div>
      <div class="calc_result">
        <div class="reduced_man_hours">年間削減工数<%= proposal.estimation.reduced_man_hours %>h</div>
        <div class="reduced_costs">年間削減コスト<%= proposal.estimation.reduced_costs %>円</div>
      </div>
      <div class="various_btn">
        <%= link_to "削除", root_path , class: :action_btn%>
        <%= link_to "編集", root_path , class: :action_btn%>
        <%= link_to "実行", root_path , class: :action_btn%>
      </div>

    </div>
    <% end %>
  </div>
</div>