<div class="new_proposal_detail">
  <div class="new_character">
    <% if @proposal.present? %>Edit<% else %>New<% end %>
  </div>
  <div class="new_content_description">
    <div class="new_content">
      <div class="field">
        <%= f.label :image, "改善前の写真" %>
        <%= f.file_field :image %>
      </div>
      <div class="field", id="title">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title, calss:"new_text", placeholder:"タイトル" %>
      </div>
      <div class="field">
        <%= f.label :where, "Where" %>
        <%= f.text_area :where, class:"new_text", placeholder:"どこを改善しますか？", maxlength:"500" %>
      </div>
      <div class="field">
        <%= f.label :what, "What" %>
        <%= f.text_area :what, class:"new_text", placeholder:"何を改善しますか？", maxlength:"500" %>
      </div>
      <div class="field">
        <%= f.label :why, "Why" %>
        <%= f.text_area :why, class:"new_text", placeholder:"なぜ改善しようと思いましたか？", maxlength:"500" %>
      </div>
      <div class="field">
        <%= f.label :how, "How" %>
        <%= f.text_area :how, class:"new_text", placeholder:"どのよう改善したら良いと思いますか？", maxlength:"500" %>
      </div>
    </div>
    <div class="new_description">
    </div>
  </div>
</div>
<div class="new_proposal_calc">
  <div class="new_calc">
    <div class="bottom_before_character">Before(改善前)</div>
    <div class="new_after_calc_detail">
      <span>(作業時間</span>
      <%= f.number_field :before_seconds, class:"numeric_input", id:"before_seconds", placeholder:"秒単位で入力" %>
      <span>s)</span>
      <span>x</span>
      <span>(作業人数</span>
      <%= f.number_field :before_workers, class:"numeric_input", id:"before_workers", placeholder:"1日の使用人数" %>
      <span>人)</span>
      <span>x</span>
      <span>(年間日数</span>
      <%= f.number_field :before_days, class:"numeric_input", id:"before_days", placeholder:"年間使用日数" %>
      <span>日)</span>
      <span>=</span>
      <span>(年間工数</span>
      <div id="show_before_man_hours"></div>
      <span>h)</span>
      <%= f.hidden_field :before_man_hours, class:"numeric_input", id:"before_man_hours"%>
      <span>x</span>
      <span>(時給</span>
      <%= f.number_field :hourly_wage, class:"numeric_input", id:"hourly_wage", placeholder:"平均時給" %>
      <span>円)</span>
      <span>=</span>
      <span>(年間コスト</span>
      <div id="show_before_costs"></div>
      <span>円)</span>
      <%= f.hidden_field :before_costs, class:"numeric_input", id:"before_costs" %>
    </div>
  </div>
  <div class="arrow">⬇</div>
  <div class="new_calc">
    <div class="bottom_after_character">Estimation(改善後の予測)</div>
    <div class="new_after_calc_detail">
    <span>(作業時間</span>
    <%= f.number_field :after_seconds, class:"numeric_input", id:"after_seconds", placeholder:"秒単位で入力" %>
    <span>s)</span>
    <span>x</span>
    <span>(作業人数</span>
    <%= f.number_field :after_workers, class:"numeric_input", id:"after_workers", placeholder:"1日の使用人数" %>
    <span>人)</span>
    <span>x</span>
    <span>(年間日数</span>
    <%= f.number_field :after_days, class:"numeric_input", id:"after_days", placeholder:"年間使用日数" %>
    <span>日)</span>
    <span>=</span>
    <span>(年間工数</span>
    <div id="show_after_man_hours"></div>
    <span>h)</span>
    <%= f.hidden_field :after_man_hours, class:"numeric_input", id:"after_man_hours"%>
    <span>x</span>
    <span>(時給</span>
    <div id="show_hourly_wage"></div>
    <span>円)</span>
    <span>=</span>
    <span>(年間コスト</span>
    <div id="show_after_costs"></div>
    <span>円)</span>
    <%= f.hidden_field :after_costs, class:"numeric_input", id:"after_costs" %>
    </div>
  </div>
</div>
<div class="arrow">⬇</div>
<div class="new_calc_result">
  <div class="new_reduced_man_hours">
    <span>年間削減工数</span>
    <div id="show_reduced_man_hours"></div>
    <span>h</span>
    <%= f.hidden_field :reduced_man_hours, class:"numeric_input", id:"reduced_man_hours" %>
  </div>
  <div class="new_reduced_costs">
    <span>年間削減コスト</span>
    <div id="show_reduced_costs"></div>
    <span>円</span>
    <%= f.hidden_field :reduced_costs, class:"numeric_input", id:"reduced_costs" %>
  </div>
</div>
<div class="actions">
  <%= f.submit "投稿する", id:"submit" %>
</div>