<div class="wrapper">
  <%= render "side_bar" %>
  <div class="main_view">
    <div class="main_top">
      <% if current_page?(controller: "proposals", action: "index", sort_costs: "true")%>
      <div class="order_title">削減コストランキング(改善提案)</div>
      <% else %>
      <div class="order_title">新着順(改善提案)</div>
      <% end %>
    </div>
    <div class="main_contents">
    <% @proposals.each_with_index do |proposal,i|%>
      <% unless proposal.execution.present? %>
      <dl class="accordion js__accordion">
      <div class="proposal js__accordion__trigger">
        <dt class="accordion__title">
        <div class="title_btn" >
          <div class="title" >
            <%= proposal.title %>
          </div>
          <div class="proposal_user">
            <div class="proposal_user_name">
            <span>提案者</span><%= proposal.user.name %>
            </div>
          </div>
        </div>
        </dt>
        <% if i == 0 %>
        <dd class="accordion__content is__open">
        <% else %>
        <dd class="accordion__content">
        <% end %>
        <div class="detail">
          <div class="image">
            <%= image_tag proposal.image, class: :image_tag %>
          </div>
          <div class="text_all">
            <div class="text">
            <span>Where</span><br>
            <%= proposal.where %>
            </div>
            <div class="text">
            <span>What</span><br>
            <%= proposal.what %>
            </div>
            <div class="text">
            <span>Why</span><br>
            <%= proposal.why %>
            </div>
            <div class="text">
            <span>How</span><br>
            <%= proposal.how %>
            </div>
          </div>
          <div class ="comments">
          <span>Comments</span><br>
          </div>
        </div>
        <div class="bottom_before_character">Before(改善前)</div>
        <div class="before_calc">
          <div class="numeric">作業時間<%= proposal.before_seconds %>s</div>
          <span>x</span>
          <div class="numeric">作業人数<%= proposal.before_workers %>人</div>
          <span>x</span>
          <div class="numeric">年間使用日数<%= proposal.before_days %>日</div>
          <span>=</span>
          <div class="numeric">年間工数<%= proposal.before_man_hours %>h</div>
          <span>x</span>
          <div class="numeric">時給<%= proposal.hourly_wage %>円</div>
          <span>=</span>
          <div class="numeric">年間コスト<%= proposal.before_costs %>円</div>
        </div>
        <div class="arrow">⬇</div>
        <div class="bottom_after_character">Estimation(改善後の予測)</div>
        <div class="after_calc">
          <div class="numeric">作業時間<%= proposal.estimation.after_seconds %>s</div>
          <span>x</span>
          <div class="numeric">作業人数<%= proposal.estimation.after_workers %>人</div>
          <span>x</span>
          <div class="numeric">年間使用日数<%= proposal.estimation.after_days %>日</div>
          <span>=</span>
          <div class="numeric">年間工数<%= proposal.estimation.after_man_hours %>h</div>
          <span>x</span>
          <div class="numeric">時給<%= proposal.estimation.hourly_wage %>円</div>
          <span>=</span>
          <div class="numeric">年間コスト<%= proposal.estimation.after_costs %>円</div>
        </div>
        <div class="arrow">⬇</div>
        <div class="calc_result">
          <div class="reduced_man_hours">年間削減工数<%= proposal.estimation.reduced_man_hours %>h</div>
          <div class="reduced_costs">年間削減コスト<%= proposal.estimation.reduced_costs %>円</div>
        </div>
        <div class="various_btn">
        <% if current_user == proposal.user%>
          <%= link_to "削除", proposal_path(proposal) , method: :delete, class: :action_btn %>
          <%= link_to "編集", edit_proposal_path(proposal) , class: :action_btn %>
        <% end %>
          <%= link_to "実施", new_proposal_execution_path(proposal) , class: :action_btn %>
        </div>
        </div>
      </dd>
      </dl>
      <% end %>
    <% end %>
    </div>
  </div>
</div>