<!DOCTYPE html>
<html>
  <head>
    <title>KaizenApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_bar">
        <div class="logo">
          <%= link_to "Innovation", root_path %>
        </div>
        <% if user_signed_in? %>
        <div class="nav_right">
          <%= link_to "投稿する", new_proposal_path, class: :nav_btn %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: :nav_logout %>
        </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
